/*
    Color Palette
		blue = #0392c1
		gold = #ffba00

	Style Reference
		-webkit-
		-moz-
		transition: all .2s;
		border-radius: 0px 0px 15px 15px;
		box-shadow: 0px 0px 5px #555;
		text-shadow: 0px 0px 5px #555;
		background: -webkit-gradient(linear, left top, left bottom, from(#33C2F1), to(#0392c1));
		background: -moz-linear-gradient(top,  #33C2F1,  #0392c1);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33C2F1', endColorstr='#0392c1');
		@font-face{ font-family: titlefont; src: url('../fonts/GODOFWAR.TTF'); }
*/

/* BASE DEFINITIONS */
html ,body {
    font-family: verdana, helvetica, sans-serif;
	font-size: 1.0em;
	color: #ccc;
    background: #454545;
	padding: 0;
	margin: 0;
}

label { color: #333; }
fieldset { border: 1px solid #666; }
fieldset legend { background: transparent; border: 1px solid #666; }

a:link,a:visited {
    color: rgb(121, 172, 196);
    font-family: monospace;
    font-size: 1.2em;
    transition: all .2s;
}
a:hover{
    color: #efefef;
    text-shadow: 0 0 3px #efefef;
    transition: all .2s;
}

/* OBLIGATORY CLASSES */
.clear{ clear:both; }
.bold{ font-weight:bold; }
.italic{ font-style:italic; }
.underline{ text-decoration:underline; }
.spacer{ display:block; height:20px; }
.float_right{ float:right; }
.float_left{ float:left; }
.center{ margin: 0 auto; }
.no_border{ border:0; }
.biggest{ font-size:3.4em; }
.bigger{ font-size:2.2em; }
.big{ font-size:1.4em; }
.medium{ font-size: 1.0em }
.small { font-size: 0.8em }
.smallest { font-size: 0.6em }

/* FOUNDATION OVERRIDES */
p.alert-error, .alert-error {
	font-size: 10px;
	color: orangered;
	margin-top: -10px;
}

/* MAIN ELEMENTS */
#content {
	position: relative;
	top: 20px;
}

#modePrefix {
	background: #666;
	border-color: transparent;
	color: #ccc;
}
#noteField {
	display: inline-block;
	border: 0;
	box-shadow: none;
	background: #515151;
	color: #ccc;
}

/* note history */
ul.note-history {
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgb(46, 149, 197);
}
.note-date {
	color: rgb(46, 149, 197);
	font-weight: bold;
	cursor: default;
}
.timestamp {
	color: #999;
	font-family: monospace;
}
ul.note-history li {
	list-style-type: none;
	cursor: default;
	border-left: 2px solid transparent;
	padding: 0 3px;
	margin: 0 -5px;
}
ul.note-history li.edit-context { background: #555; }
ul.note-history li.important {
	border-left: 2px solid orangered;
}
ul.note-history li .note-toolbar i {
	position: absolute;
	left: 10px;
	margin-top: 5px;
	display: none;
	color: #999;
	font-size: 1.1em;
}
ul.note-history li .note-toolbar i:hover { color: #f6f6f6; }
ul.note-history li .note-toolbar .mark-important { left: 5px; }
ul.note-history li .note-toolbar .edit { left: 35px; }
ul.note-history li .note-toolbar .delete { left: 60px; }

ul.note-history li:not(.edit-context):hover .timestamp {
	visibility: hidden;
}
ul.note-history li:not(.edit-context):hover .note-toolbar i {
	display: inline;
}
ul.note-history li.important .note-toolbar .mark-important:before {
	content: "\f005";
}

/* filters */
.tag-link {
	cursor: pointer;
	color: #69AD72;
	font-size: 1.2em;
    font-family: monospace;
    transition: all .2s;
}
.tag-link:hover {
    color: #efefef;
    text-shadow: 0 0 3px #efefef;
    transition: all .2s;
}
ul#filters {
	list-style-type: none;
	padding: 0;
	margin: 0 0 10px 0;
}
ul#filters .tag {
	display: inline;
	padding: 0;
	margin: 5px 5px 5px 0;
}
ul#filters .tag .name {
	border: 1px solid #666;
	border-radius: 3px 0 0 3px;
	background: #555;
	padding: 2px 4px;
	margin: 5px 0 5px 0;
	color: #33AC63;
}
ul#filters .tag .remove {
	border: 1px solid #666;
	border-left: 0;
	border-radius: 0 3px 3px 0;
	background: #555;
	padding: 2px 4px;
	margin: 5px 10px 5px 0;
}
ul#filters .tag .remove i:hover {
	color: #f6f6f6;
}

/* MEDIA: TABLET */
@media screen and (max-width: 767px) {
	
}

/* MEDIA: MOBILE */
@media screen and (max-width: 480px) {
	
}
